@import "vendor/normalize.css";
@import "vendor/slidebars.min.css";
@import "vars.pcss";
@import "component/buttons.pcss";
@import "component/paginator.pcss";
@import "component/full-article.pcss";
@import "component/header-footer.pcss";
@import "component/bricks.pcss";
@import "../public/plugins/NAWebEvents/static/pcss/style.pcss"; /* Events */
@import "../public/plugins/NAWebNews/static/pcss/style.pcss"; /* News */
@import "page/home.pcss";
@import "page/about.pcss";
@import "page/search.pcss";
@import "page/media.pcss";
@import "page/admin.pcss";
@import "component/mobile-nav.pcss";

* {
  box-sizing: border-box;
}

body {
  font: 16px/2 franklin-gothic-urw, sans-serif;
}

a {
  text-decoration:none;
}