@custom-media --lg-phone-viewport (min-width: 480px);
@custom-media --tablet-viewport (min-width: 768px);
@custom-media --md-desktop-viewport (min-width: 992px);
@custom-media --lg-desktop-viewport (min-width: 1200px);

@lost flexbox flex;
@lost rounder 99;

$primary-blue: #5ea6c2;