.about-container-wrapper {
  & .about-us-intro {
    & .photo-wrapper {
      padding: 15px;
      & img {
        max-width: 100%;
      }
    }
    & .text-wrapper {
      padding: 15px;
    }
  }
  & .people {
    & .person-modal-link {
      display: block;
      &:hover {
        & .staff-person-wrapper {
          padding: 15px;
          & .staff-person {
            min-height: 300px;
          }
        }
      }
    }
    & .staff-person-wrapper {
      padding: 30px;
      transition: all .25s ease-in;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & .person-click {
        color: darkgray;
      }
      & .staff-person {
        width: 100%;
        transition: all .25s ease-in;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: flex-end;
        padding: 15px;
        min-height: 270px;
        color: white;
        & span {
          display: block;
          line-height: .6vr;
          width: 100%;
        }
        & h3 {
          width: 100%;
        }
      }
    }
  }
  & .people-modals {
    & .modal {
      margin: 20px auto 0;
      & img {
        height: auto;
        max-width: 100%;
      }
      & .modal-dialogue {
        margin: 20px auto 0;
      }
      & .modal-header {
        & .span {
          display: block
        }
      }
    }

    @media (--md-desktop-viewport) {
      .about-page-modals .modal {
        width: 900px;
      }
    }
  }
  & .board-body-wrapper {
    background: transparent url(/img/green-blotch-bg.png) no-repeat center center;
    background-size: contain;
    padding: 15px 0;
    & h2 {
      text-align: center;
    }
  }

  & .volunteer-body-wrapper {
    & .paper-body-wrapper {
      color: white;
      background-position: center bottom, center top;
      background-repeat: no-repeat, no-repeat;
      background-size: 100%, 100%;
      padding: 15px 0;
    }
    & h2 {
      text-align: center;
    }
  }
}

@media (--md-desktop-viewport) {
  .about-container-wrapper {
    & .about-us-intro {
      & .photo-wrapper {
        padding: 50px 50px 50px 15px;
      }
      & .text-wrapper {
        padding: 50px 15px 50px 50px;
      }
    }
    & .board-body-wrapper {
      padding: 100px 0;
    }
    & .volunteer-body-wrapper {
      & .paper-body-wrapper {
        padding: 100px 0;
      }
    }
  }
}