.admin-instructions-container {
  background-color:#eee;
  padding:20px;
  margin:0 auto 25px auto;
  position: relative;
  border: 1px solid #aaa;

  & h2 {
    font-size:18px;
    margin:.5em 0;
  }

  & p {
    font-size:14px/1.3;
  }
}

.admin-instructions-container:after, .admin-instructions-container:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.admin-instructions-container:after {
  border-color: rgba(238, 238, 238, 0);
  border-top-color: #eee;
  border-width: 20px;
  margin-left: -20px;
}
.admin-instructions-container:before {
  border-color: rgba(170, 170, 170, 0);
  border-top-color: #aaa;
  border-width: 21px;
  margin-left: -21px;
}