.main-highlight {
  display: flex;
  flex-direction:column;
  justify-content: space-between;;

  position:relative;
  background: transparent url(/img/woman-praying.jpg) center center no-repeat;
  background-size:cover;
  overflow:hidden;
  height:100vh;
  & .main-nav{
    z-index:2;
    & .menu-wrapper{
      top:136%;
    }
  }
}

.call-to-action-container {
  display:block;
  clear:both;
  color:#fff;
  text-align:center;
}

.call-to-action {
  lost-center: 980px;
  flex-direction:column;
  text-shadow:0 0 2px #333;
  margin-bottom:2vr;

  & h2 {
    font-size:1vr/1;
    text-transform:uppercase;
    margin:0;

    @media(--tablet-viewport){
      font-size:1.5vr/1;
    }
  }

  @media(--tablet-viewport){
    margin-bottom:0;
  }
}

.main-highlight-footer {
  width:100%;
  background-color:rgba(255,255,255,0.7);
  padding-top:1vr;

  @media(--tablet-viewport){
    lost-flex-container: row;
    justify-content: space-around;
    align-items: flex-end;
    min-height:170px;
    padding-top:0;
    background: transparent url(/img/torn-paper.png) no-repeat top center;
    background-size:100%;

    &>div {
      lost-column:1/2 30px no-flex;
    }
  }

  @media(--md-desktop-viewport){
    min-height:230px;
  }
}

.schedule {
  padding: 0 10px;
  text-align:center;

  & p {
    font-size: .5vr/1;
    margin: 0;

    & strong {
      font-size: 1.5em;
    }
  }

  & a {
    color:#111;
    text-transform: uppercase;
    font-size:.375vr;
    &:after {
      top:-4px;
    }
  }

  @media(--tablet-viewport){
    padding:0 30px;
    text-align:left;

    & p {
      font-size: 1vr/1;

      & strong {
        font-size:1.25vr;
      }
    }
  }
}

.podcast {
  position:relative;
  text-align:center;
  margin-top:1vr;

  & img {
    position:absolute;
    left:8px;
    bottom:10px;
    width:24px;

    @media(--tablet-viewport){
      width:48px;
      left:-1vr;
    }
  }
}

.podcast-episode {
  position:relative;
  max-width: 420px;

  & h2 {
    font-weight:bold;
    font-size:.5vr/1;

    margin:0 auto .5vr;

    @media(--tablet-viewport){
      font-size:1vr/1;
      font-weight:normal;
    }
  }

  @media( --tablet-viewport){
    margin:0 30px 0 auto;
  }
}

.activity-title {
  margin:0 0 1vr;
  padding:1vr 0 1vr;
  border-top:10px solid #000;
  text-align:center;
  background:#5EA6C2 url(/img/paint-stripe1.png) no-repeat center 2vr;
  background-size:1600px;

  font-size:1vr/1;
  font-weight:300;
  text-transform:uppercase;
  color:#fff;

  @media(--tablet-viewport){
    font-size:1.75vr/1;
    background-position:center 2.75vr;
  }
}

.activity-notices {
  @media(--tablet-viewport) {
    padding:1vr 0;
    lost-utility: clearfix;
  }
}

.ministries {
  color:white;
  background: url(/img/paint-stripe2.png) no-repeat center -60px,
              url(/img/paint-stripe1.png) no-repeat center calc(100% + 30px),
              url(/img/concrete-cross.jpg) no-repeat center bottom;
  padding:1vr 10px;
  background-size:auto, auto, cover;

  @media(--tablet-viewport){
    padding:30px;
  }

  @media(--lg-desktop-viewport){
    background: url(/img/paint-stripe2.png) no-repeat center -60px,
                url(/img/concrete-cross.jpg) no-repeat center bottom;
    background-size:100%, cover;
  }
}

.ministry-title {
  text-transform:uppercase;
  text-align:center;
  font-size:1.5vr/1;
  margin:.75vr 0 1vr;
}

.ministry {
  max-width:980px;
  margin:0 auto;

  & h3 {
    text-transform: uppercase;
    margin:0;
  }

  & .content {
    display:flex;
    flex-direction:column-reverse;
    margin-bottom:1vr;
  }

  & p {
    margin-top:0;
    line-height:1.5;
  }

  & .btn.btn-outline {
    border:1px solid #fff;

    &:hover {
      background-color:rgba(255,255,255,.2);
    }
  }


  @media(--tablet-viewport){

    & .content{
      display:block;
      & aside {
        float:right;
        width:245px;
        padding:0 0 0 30px;
      }
    }
  }
}
