.media-container-wrapper {
  & .sermons-wrapper {

    & .sermon {
      & .page-edges {
        background-image: url(/img/paint-stripe-left.png), url(/img/paint-stripe-right.png), url(/img/paint-stripe-top.png), url(/img/paint-stripe-bottom.png);
        background-position: left center, right center, center top, center bottom;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: contain, contain, contain, contain;
        padding: 30px;
        & .sermon-title {
          font-weight: lighter;
        }
        & .sermon-date {
          font-weight: bold;
        }
        & .sermon-speaker {
          font-weight: bold;
          display: block;
        }
      }
      & .link-btn{
        padding: 10px 15px;
        color: #fff $primary-blue;
        text-transform: uppercase;
        font-weight:bold;
        display:inline-block;
        margin: 0 15px 15px 0;
        transition:all .25s ease-in;
        &:hover{
          color: #fff $btn-primary-color;
          text-decoration: none;
        }
      }
      &.dark {
        color: white;
      }
      &.light {

      }
    }
  }
  & .tags-wrapper {
    & .tag-name {
      color: white #333333;
      padding: 10px 15px;
      margin: 0 10px 10px 0;
    }
  }
}