.search-block {
  margin:40px 0;
}

#search_info {
  color:#999;
}

.search_result {
  & h1 {
    text-align:left;
    font-size:24px;
    padding:0;
    margin-bottom:0;
    & a{
      color:$btn-primary-color;
    }
  }

  & .resultSummary {
    color:#777;
  }
}

#search_paging {
  & .active{
    color:$btn-primary-color;
  }
}
.searchForm{
  & .submit{
    background-color: $btn-primary-color;
    color:#fff;
  }
}

.search-wrapper{
  display:flex;
  align-items:center;
  z-index:100000000001;
  margin-right:10px;
  &.home{
    margin-top:16px;
  } 
  & .search-block-form {
    margin-top: 0px;
    float: right;
    margin-left: 5px;

    & input[type=text] {
      width: 25px;
      height: 25px;
      padding: 5px;
      margin: 5px 0px;
      background: url('/img/icon/icon-search.png') right no-repeat;
      cursor: pointer;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 300;
      transition: all, 0.2s, ease-in-out;
    }

    & input[type=text]:hover {
      background: url('/img/icon/icon-search-o.png') right no-repeat;
    }

    & input[type=text]:focus {
      width: 200px;
      padding-right: 30px;
      color: white;
      background-color: rgba(0,0,0, 0.5);
      cursor: auto;
      border: 1px solid #fff;
      border-radius:50px;
    }

    & .form-submit {
      display: none;
    }
  }

  #block-search-form {
    z-index: 100;
  }
}