.section-body-wrapper {
  margin: 50px 0;
  & .section-paper-body-wrapper {
    color:white;
    background-image: url(/img/paint-stripe-left.png), url(/img/paint-stripe-right.png), url(/img/paint-stripe-top.png), url(/img/paint-stripe-bottom.png);
    background-position: left center, right center, center top, center bottom;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: contain, contain, contain, contain;
    padding: 50px;
  }
}

@media (--md-desktop-viewport) {
    & .section-body-wrapper {
      & .section-paper-body-wrapper {
        padding: 100px 0;
      }
    }
  }

blockquote {
  & footer {
    text-align:right;
  }
}

.column-widget{
  & .brick-button{
    text-align:center; 
  }
  & .row{
    display:flex;
    & .column{
      display:flex;
      flex-wrap:wrap;
      /*justify-content:center;*/
      align-content:center;
      & .pimcore_area_wysiwyg{
        width:100%;
      }
    }
  }
}

.qa-set {
  & .row {
    margin:50px 0;
  }

  & .question-wrapper {
    font-size: 24px;
    text-transform:uppercase;
    padding:20px 0;
    color:#000;

    & >:last-child {
      margin-bottom:0;
    }
  }
  & .answer-wrapper {
    color:#999;
  }
  & a {
    font-size: 18px;
  }
}

.grid-sizer,
.grid-item {
  width: 100%;
  padding:10px;

  & img {
    width:100%;
  }

  @media(--tablet-viewport){
    width: 50%;
  }
  @media(--lg-desktop-viewport){
    width: 33%;
  }
}

.generic-banner {
    padding:30px;
    margin-bottom:40px;
    background-color:#fafafa;
    text-align:center;

    & h2 {
      color: #333;
      font-size:24px;
      margin:0;
    }

    @media (--tablet-viewport){
      padding:70px;

      & h2 {
        font-size:36px;
      }
    }
}

.hr-brick{
  &.yellow {
    border-top-color: #EFC849;
  }
  &.green {
    border-top-color: #b0d9b1;
  }
  &.red {
    border-top-color: #E8484A;
  }
  &.blue {
    border-top-color: #4A90E2;
  }
  &.black {
    border-top-color: #000000;
  }
  &.white {
    border-top-color: #FFFFFF;
  }
  margin:40px auto;
  max-width:800px;
  @media (--tablet-viewport) {
    margin:50px auto;
  }
}

.area-image {
  & a {
  }

  & img {
    margin:0 auto;
    max-width:100%;
    display:block;
  }
}

.admin-outline-box{
  border:solid 5px black;
  padding:5px;
}