$btn-primary-color: #9C3843;

.btn {
  display: inline-block;
  padding:.125vr 1vr;
  margin-top:5px;
  margin-bottom:5px;

  border: 2px solid $btn-primary-color;
  border-radius:7px;
  color: #fff $btn-primary-color;

  text-transform:uppercase;
  text-decoration:none;
  font-size:.5vr;

  outline:0;

  &:hover {
    border-color: darken($btn-primary-color, 25%);
    background-color: darken($btn-primary-color, 25%);
  }
}

.btn.btn-outline {
  background-color:transparent;

  &:hover {
    background-color:transparent;
  }
}

.back-link, .more-link {
  position:relative;
  &:hover {
    border-bottom:1px solid ;
    text-decoration:none;
  }
}

.more-link {
  margin-right:1em;
  &:hover {
    border-bottom:1px solid ;
    text-decoration:none;

    &:after {
      animation: bounce-right 3s linear infinite;
      animation-delay: 0s;
    }
  }
  &:after {
    content:"\f0da";
    font-family: FontAwesome;
    position: absolute;
    right:-.8em;
  }
}

.back-link {
  margin-left:1em;
  &:hover {
    &:before {
      animation: bounce-left 3s linear infinite;
      animation-delay: 0s;
    }
  }
  &:before {
    content:"\f0d9";
    font-family: FontAwesome;
    position: absolute;
    left:-.8em;
    top:-1px;
  }
}

@keyframes bounce-right {
  0% {  }
  4% { transform: translateX(5px); }
  8% { transform: translateX(0); }
  12% { transform: translateX(5px); }
  14% { transform: translateX(0); }
  100% { transform: translateX(0) }
}
@keyframes bounce-left {
  0% {  }
  4% { transform: translateX(-5px); }
  8% { transform: translateX(0); }
  12% { transform: translateX(-5px); }
  14% { transform: translateX(0); }
  100% { transform: translateX(0) }
}