.full-article {
  lost-center: 980px;
  padding:1vr 20px;
}

.full-article-header {
  width:100%;
  margin-bottom:1vr;
}

.full-article-title {
  text-align:center;
  font-size:1vr;
  text-transform:uppercase;
  font-weight:bold;
}

.full-article-featured-image {
  margin-top:1vr;
  width:100%;
}

.full-article-publication-date {
  text-align:center;
  color:#888;
  text-transform:uppercase;
  font-size:14px;
}

.full-article-bottom-nav {
  /*display:flex;*/
  /*justify-content: space-between;*/
  /*align-items:baseline;*/
  position:relative;
  overflow:hidden;

  padding:1vr 0;
  width:100%;

  & a, & a:visited {
    font-weight:bold;
    text-transform:uppercase;
    font-weight:normal;
  }
}

a.full-article-home-link {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 80px;
  height:80px;

  line-height: 1.2em;
  text-align:center;
  background-color:#000;
  color:#fff #000;
  border-radius:50%;
  padding-top:23px;
}

.full-article-next-item {
  color:#000;
  float:right;
  &:after {
    content: "\00bb";
    padding-left:.5em;
    text-decoration:none;
  }
}

.full-article-prev-item {
  color:#000;
  float:left;
  &:before {
    content: "\00ab";
    padding-right:.5em;
    text-decoration:none;
  }
}