.site-logo {
  margin:30px;
  float: left;

  & img {
    width:100px;
    @media(--tablet-viewport){
      width:auto;
    }
  }
}

.main-nav {
  display:none;
  position:relative;

  & li {
    display: inline-block;
    &:hover{
        & .menu-wrapper {
          visibility:visible;
          transition:all .25s ease-in;
          opacity:1;
          min-width: 650px;
        }
        & a{
          & .indicator-triangle-up {
          visibility:visible;
            transition:all .25s ease-in;
            opacity:1;
          }
          & .outer-indicator-triangle-up {
            visibility:visible;
            transition:all .25s ease-in;
            opacity:1;
          }
        }
    }

    & a {
      display:block;
      position:relative;
      padding:10px 15px;
      color:#fff;
      text-decoration:none;
      font-size:1vr;
      text-shadow:0 0 2px #000;
      & .indicator-triangle-up {
        opacity:0;
        visibility:hidden;
        position:absolute;
        bottom:-43px;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-bottom: 50px solid #222222;
      }
      & .outer-indicator-triangle-up {
        opacity:0;
        visibility:hidden;
        position:absolute;
        bottom:-43px;
        left:5px;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 60px solid white;
      }
    }
  }

  & .navigation {
    margin:1vr 1vr .5vr;
    padding:0;
    list-style-type:none;
    text-align: right;
  }

  & .new-btn {
    position: absolute;
    top: 100px;
    right:-10px;

    border:2px solid #fff;
    border-radius:7px;
    color: white #5EA6C3;

    padding:.5vr;

    text-decoration:none;

    & span:first-child {
      font-size:1vr;
      line-height:1vr;
      font-weight:bold;
      display:block;
    }

    & span:last-child {
      text-transform:uppercase;
      font-size:14px/16px;
      display:block;
    }
  }
    & .menu-wrapper {
      z-index:-1;
      border:7px solid white;
      right:0;
      display:block;
      visibility:hidden;
        opacity:0;
        position:absolute;
        top:100%;
        color: white #222222;
      & a {
        padding:10px 0px 0px 0px;
        font-size:.75vr;
        font-weight:bold;
      }
      & .sub-menu {
        display:flex;
        flex-wrap:wrap;
        padding:30px 15px;

        & li{
          max-width:300px;
          margin:0 0 15px 15px;
        }
        & .menu-description {
          font-size: .5vr/1.4;
        }
      }
    }
}

.toggle-mobile-nav-container {
  position:absolute;
  top:.5vr;
  right:.5vr;
  display:block;
  padding:20px;
  text-align:right;

  & svg {
    width:32px;
    height:32px;
    fill:#fff;
    line:#fff;
  }

  @media(--tablet-viewport){
    top:1vr;
    right:1vr;
  }
}

@media(--tablet-viewport){
  .toggle-mobile-nav-container {
    display:none;
  }

  .main-nav {
    display:flex;
align-items: stretch;
flex-grow:1;
justify-content:flex-end;
    & >li {
 display:flex;
align-items:center;
}
    & >ul {
      display:flex;
      align-items:center;
      margin-bottom:0px;

      & ul li {
        font-size:16px;
      }
    }
  }

}

.newsletter-title {
  text-align:center;
  margin-bottom:0;
}

#mc_embed_signup {
  position:relative;

  @media(--tablet-viewport) {

    & .mc-visible-controls {
      lost-center: 980px;
      align-items: flex-end;
      justify-content: center;

      & > div.mc-field-group {
        lost-column: 1/4;
      }

      & label {
        line-height: 1;
      }

      & .mc-field-group {
        padding-bottom: 0;
      }

      & .button {
        margin-bottom: 0;
        background-color:#5EA6C2;
        height:36px;
      }
    }

    & .indicates-required {
      /*position: absolute;*/
      /*right: 0;*/
      top: -35px;
    }
  }
}

footer .final {
  padding:16px 30px;
  margin-top:1vr;
  color:#000 #B0D9B1;
  font-size:.375vr/1;

  & p {
    margin:0;
  }

  & .copyright {
    float:right;
  }
}
.default-page-header {
  position:relative;
  z-index:1;

  color:#000 #333333;
  background-image: url(/img/paint-stripe.png), url(/img/bible-header-bg.png);
  background-position: center bottom, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100%, cover;
    & .container{
        display:flex;
        align-items:stretch;
        justify-content:space-between;
    }
    & .site-logo{
        flex-grow: 0;
        width:75px;
        & img {
        width:100%;
        }
    }
}
