[off-canvas]{

}

.mobile-nav-content {
  position:relative;
  padding:40px 0 20px;
}

#slidebars-nav {
  & .primary-navigation {
    list-style:none;
    margin:0;
    padding:10px;

    & li {
      padding-left:10px;

      & a {
        display:block;
        padding:10px 5px;
        border-bottom:1px solid #444;
        color:#fff;
        font-size:.75vr/1;
      }
    }
  }
}

.mobile-nav-container-close {
  position:absolute;
  top:10px;
  right:10px;
  color:#fff;

  & img {
    fill:#fff;
  }
}