.paginator {
  text-transform:uppercase;
  position:relative;

  & .page-number {
    margin:0 .5em;
    font-weight:bold;

    & a {
      font-weight:normal;
    }
  }

  & .next-link {
    position:relative;
    &:after {
      content:"\f0da";
      font-family: FontAwesome;
      position: absolute;
      right:-.8em;
    }
  }
}